:root {
  --main-red: #cf242a;
  --main-black: #010101;
  --main-white: #ffffff;
}

@font-face {
  font-family: "GrilledCheese BTN Toasted";
  font-style: normal;
  font-weight: normal;
  src: local("GrilledCheese BTN Toasted"),
    url("GrilledCheese BTN Toasted.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font: 20px "Titillium Web", sans-serif;
  letter-spacing: 0.03em;
}
.page-container {
  margin-top: 96.6px;
}
.content-wrapper {
  min-height: 100vh;
  position: relative;
}
/* Bootstrap Fix */
.col-md-6,
.row {
  margin: 0 !important;
  padding: 0 !important;
}
/* Navbar Styles */
.myNavbar {
  /* font-family: GrilledCheese BTN Toasted; */
  font-size: 0.9em;
  font-weight: 700;
  position: fixed;
  top: 0;
  position: -webkit-sticky;
  height: 96.6px;
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  background-color: var(--main-red);
  color: var(--main-white);
  border-bottom: 1px solid var(--main-black);
  z-index: 4;
  text-transform: uppercase;
}
.navBarLinks {
  display: flex;
  margin-left: auto;
  width: 60%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  /* pointer-events: none; */
}
.nav-number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: 1px solid;
  height: 80%;
  margin: auto 2rem;
  padding: 0 15px;
}
.nav-ajax {
  font-size: 12px;
}
.nav-phone {
  color: var(--main-black);
  font-size: 30px;
  font-weight: 700;
}
.navBarLinks li {
  position: relative;
  list-style: none;
  padding: 1rem 0;
}

.footerList li {
  position: relative;
  list-style: none;
}
.navBarLinks a,
.footerList a {
  color: #fff;
  display: inline-block;
  padding: 1px 1px;
  position: relative;
}

.navBarLinks li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 12px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footerList li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navBarLinks li:hover:after,
.footerList li:hover:after {
  width: 100%;
  left: 0;
}

.navBarLinks li a {
  text-decoration: none;
  color: var(--main-white);
  cursor: pointer;
}
.navBarLinks a.active:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}
.navbarLogo {
  margin: 1rem;
  display: inline;
}

/* Main Body Styles */
.main-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 96.6px; */
  height: 90vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.103),
      rgba(0, 0, 0, 0.082)
    ),
    url("../imgs/big-ms-2a.jpg") no-repeat center bottom / cover;
}
/* .main-hero-caption {
  position: absolute;
  top: 50vh;
  padding: 20px 30px;
  left: calc(50vw - 236px);
  background-color: var(--main-red);
  color: var(--main-white);
  z-index: 0;
  box-shadow: 0 0 10px 3px black;
  border-radius: 0.15rem;
}
.main-hero-caption h1 {
  font-size: 20px;
  font-weight: 600;
} */
.hero-covid {
  position: absolute;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 50px;
  background-color: var(--main-red);
  z-index: 3;
  color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.384);
  font-size: calc(5px + 1vw);
}
.hero-covid h2 {
  font-size: calc(30px + 1vw);
  text-align: center;
  margin-bottom: 1rem;
}

.close-x {
  position: absolute;
  font-size: 25px;
  opacity: 0.8;
  right: 10px;
  top: 5px;
  transition: all 0.25s cubic-bezier(0.17, 0.67, 0.3, 1.12);
}
.close-x:hover {
  cursor: pointer;
  transform: rotateZ(180deg);
}
.covid-p {
  line-height: 2em;
}
.hero-png {
  position: relative;
  top: 2rem;
  width: 50%;
}
.main-content {
  width: 100%;
  position: relative;
  /* top: 96.6px; */
  color: var(--main-black);
  text-align: center;
}
.main-location,
.main-menu {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 10px;
  padding: 4rem 1rem;
  margin: 3rem;
}

.main-links {
  display: flex;
  justify-content: center;
}
.cardButton {
  padding: 5px 30px;
  background-color: var(--main-black);
  border: none;
  color: var(--main-white);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}
.cardButton span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--main-red);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.cardButton:hover span {
  transform: translateY(0) scale(2);
}
.cardButton span:nth-child(1) {
  --n: 1;
}
.cardButton span:nth-child(2) {
  --n: 2;
}
.cardButton span:nth-child(3) {
  --n: 3;
}
.cardButton span:nth-child(4) {
  --n: 4;
}
.main-insta {
  position: relative;
  /* top: 96.6px; */
  width: 100%;
  background-color: var(--main-red);
  /* height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
}

/* About Us Styles */
.about-img {
  position: relative;
  /* top: 96.6px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.burgerOriginal {
  margin: 3rem;
  transform: rotateZ(-5deg);
  width: 25%;
  height: auto;
  max-width: 235px;
  max-height: 220px;
  min-width: 135.486px;
  min-height: 127.714px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.burgerOriginal:hover {
  transform: rotateZ(0deg);
}

.about-row {
  position: relative;
  width: 90%;
  margin: 0.5rem auto !important;
}
.about-container {
  display: flex;
}
.about-container :nth-child(1) {
  order: 1;
}

.about-container :nth-child(2) {
  order: 2;
}

.about-container :nth-child(3) {
  order: 3;
}

.about-container :nth-child(4) {
  order: 4;
}

.about-info-one,
.about-pic-one,
.about-info-two,
.about-pic-two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-info-one {
  padding-right: 3rem !important;
}
.about-info-two {
  padding-left: 3rem !important;
}
.about-pic-one {
  padding-left: 1rem !important;
}
.about-pic-two {
  padding-right: 1rem !important;
}
.about-pic-one img {
  margin: 16px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  transform: rotateZ(-1deg);
  transition: all 0.5s;
}
.about-pic-two img {
  margin: 16px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  transform: rotateZ(1deg);
  transition: all 0.5s;
}
.about-pic-one img:hover {
  transform: rotateZ(1deg);
}
.about-pic-two img:hover {
  transform: rotateZ(-1deg);
}

.line-through {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 60px auto 60px;
}

.line-through span {
  background: #fff;
  padding: 0 10px;
}
.about.content-wrapper {
  margin-bottom: 2.5rem;
}

/* Blueprint Styles */
.blueprint.page-container {
  min-height: calc(100vh - 127.15px - 96.6px);
}
.blueprint.content-wrapper {
  width: 70%;
  margin: 1rem auto;
}

.blueprint-header {
  padding-top: 5rem;
  border-bottom: 1px solid var(--main-black);
  margin-bottom: 2rem;
}
.blueprint-header h1 {
  font-size: calc(1.75em + 1vw);
  padding-bottom: 1rem;
  font-weight: 700;
}

.blueprint-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.3em + 1.3vw);
}
.blueprint-picture {
  width: 100%;
  margin: 2rem auto;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.blueprint-picture {
  min-width: 430px !important;
}
/* Contact Styles */
.mapouter {
  position: relative;
  text-align: right;
  height: 350px;
  width: 600px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 350px;
  width: 600px;
}
.mapouter-mobile {
  display: none;
}
.gmap_canvas-mobile {
  display: none;
}
.contact-map {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
address {
  font-weight: 600;
}
.contact.content-wrapper {
  width: 60%;
  margin: 0 auto;
  padding-top: 3rem;
}
.my-span {
  margin-top: 2.4rem;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--main-black);
}

/* Menu Styles */
.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  -moz-box-pack: center;
  margin: 1rem auto;
}
#tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  -moz-box-pack: center;
  margin: 1rem auto;
  padding: 0;
}
#tabs li {
  color: black;
  float: left;
  list-style: none;
  margin: 10px;
  position: relative;
  text-align: center;
  font-size: 0.9em;
}

#tabs li a {
  cursor: pointer;
  font-size: normal;
  font-weight: bold;
  color: black;
  display: block;
  text-decoration: none;
  outline: none;
  border-bottom: 3px var(--main-red) solid;
}

#tabs li a.inactive {
  border-bottom: none;
  color: black;
}

#tabs li a:hover,
#tabs li a.inactive:hover {
  outline: none;
}
.our-menu-graphic {
  width: 50%;
  min-width: 240px;
}

.menu.content-wrapper {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}
.menu-section {
  display: flex;
  justify-content: space-evenly;
}
.menu-item {
  border: 1px solid;
  padding: 1rem !important;
  display: flex;
}
.menu-image {
  width: 125px;
  height: 100px;
}

.burger-info {
  width: 100%;
  display: flex;
  align-items: center;
  /* margin-left: auto; */
}
.bold-text {
  font-weight: 700;
}
/* Footer Styles */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  /* top: 96.6px; */
  width: 100%;
  padding-bottom: 5px;
  background-color: var(--main-black);
  overflow: hidden;
  color: var(--main-white);
}

.footerLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  width: 100%;
}
.footerInternal {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footerInternal ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footerInternal li {
  margin: 0.5rem 1rem;
}
.footerInternal a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-white);
}
.social-icons {
  width: 100%;
}
.copyrightBottom {
  font-size: 12px;
  margin-bottom: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .about-info-one,
  .about-info-two {
    font-size: 0.85em;
  }
  .contact.content-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .about-info-one,
  .about-info-two {
    font-size: 0.75em;
  }
  .about-info-one {
    padding-right: 1.5rem !important;
  }
  .about-info-two {
    padding-left: 1.5rem !important;
  }
  .line-through {
    margin: 40px auto 40px;
  }
  .blueprint-header {
    padding-top: 3rem;
    text-align: center;
  }
  .blueprint.content-wrapper,
  .contact.content-wrapper {
    width: 85%;
  }
  .line {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 10px;
  }

  .hamburger {
    position: absolute;
    right: 3%;
    top: 50%;
    cursor: pointer;
    transform: translate(-3%, -50%);
    z-index: 1;
  }

  .navBarLinks {
    position: fixed;
    background-color: var(--main-red);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    -webkit-clip-path: circle(100px at 90% -18%);
    clip-path: circle(100px at 90% -18%);
    transition: all 1s ease-out;
    justify-content: center;
  }

  .navBarLinks.open {
    -webkit-clip-path: circle(1400px at 90% -18%);
    clip-path: circle(1400px at 90% -18%);
    pointer-events: all;
  }
  .navbarLogo {
    position: relative;
    z-index: 3;
  }
  .main-hero {
    position: relative;
    height: 60vh;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.103),
        rgba(0, 0, 0, 0.082)
      ),
      url("../imgs/big-ms-2a.jpg") no-repeat center bottom / fill;
  }
}
@media screen and (max-width: 768px) {
  .hero-covid {
    top: 10%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .covid-flex-wrap {
    font-size: 1.5em;
  }
  .covid-flex-wrap h2 {
    font-size: 2.4em;
  }
  footer {
    position: relative;
    bottom: 0;
    height: auto;
    text-align: center;
    padding-bottom: 8px;
  }

  ul.footerList {
    flex-direction: column;
    margin: 1rem 0;
  }

  .main-location,
  .main-menu {
    margin: 0;
    margin-top: 1rem;
    padding: 2rem 0.5rem;
  }
  .main-content {
    margin-bottom: 2rem;
  }
  .burgerOriginal {
    margin: 2rem 0 0 0;
  }
  .about-row {
    position: relative;
    width: 95%;
    margin: -1rem auto !important;
  }
  .about-container :nth-child(1) {
    order: 1;
  }

  .about-container :nth-child(2) {
    order: 2;
  }

  .about-container :nth-child(3) {
    order: 4;
  }

  .about-container :nth-child(4) {
    order: 3;
  }
  .line-through {
    margin: 60px auto 45px;
  }
  .about-info-one,
  .about-info-two {
    font-size: 0.9em;
  }
  .about-info-one {
    padding-right: 0 !important;
  }
  .about-info-two {
    padding-left: 0 !important;
  }
  .about-pic-one img {
    margin: 0;
    margin-bottom: 20px;
    transform: rotateZ(0deg);
  }
  .about-pic-two img {
    margin: 0;
    transform: rotateZ(0deg);
  }
  .about-pic-one {
    padding-left: 0 !important;
  }

  .about-pic-two {
    padding-right: 0 !important;
  }
  .blueprint-header {
    padding-top: 1.5rem;
  }
  .blueprint-info {
    font-size: 0.85em;
  }
  .blueprint.content-wrapper {
    width: 90%;
  }
  .blueprint-header h1 {
    font-size: calc(1.45em + 1vw);
  }
  .contact.content-wrapper {
    padding-top: 1rem;
    width: 95%;
  }
}
@media screen and (max-width: 616px) {
  .mapouter-mobile {
    display: block;
    position: relative;
    text-align: right;
    height: 275px;
    width: 320px;
  }
  .gmap_canvas-mobile {
    display: block;
    overflow: hidden;
    background: none !important;
    height: 275px;
    width: 320px;
  }
  .mapouter {
    display: none;
  }
  .gmap_canvas {
    display: none;
  }
  .main-hero {
    position: relative;
    height: 45vh;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.103),
        rgba(0, 0, 0, 0.082)
      ),
      url("../imgs/big-ms-2a.jpg") no-repeat center bottom / fill;
  }
}
@media screen and (max-width: 540px) {
  .main-hero-caption {
    width: 97vw;
    left: 1.5vw;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.08em;
  }
  .hero-covid {
    margin-left: 1%;
    margin-right: 1%;
  }
  .blueprint.content-wrapper {
    width: 95%;
  }
  .blueprint-picture {
    min-width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  .nav-number {
    margin-left: -1%;
    border: none;
  }
  .nav-phone {
    font-size: 25px;
  }
  .nav-ajax {
    font-size: 11px;
  }
  .main-hero {
    position: relative;
    height: 40vh;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.103),
        rgba(0, 0, 0, 0.082)
      ),
      url("../imgs/big-ms-2a.jpg") no-repeat center bottom / fill;
  }
}
@media screen and (max-width: 380px) {
  .nav-ajax {
    display: none;
  }
  .nav-phone {
    margin-top: 30%;
    font-size: 22px;
  }
}
@media screen and (max-width: 340px) {
  .nav-phone {
    display: none;
  }
}
